# API Configuration
API_BASE_URL=https://data.ct108.net/ncs-ruleengine-api
TEAMID=93
NCS_USER_TOKEN=eyJ0eXAiOiJKV1QiLCJ0eXBlIjoiSldUIiwiYWxnIjoiSFMyNTYifQ.eyJ1aWQiOiJGRUEzNjhCNjNCNkNERDdFOUMxQzU3OUYxRjlFREJGOCIsInJlcXVlc3RfdXVpZCI6IiIsImVuYWJsZSI6MSwiZG9tYWluIjoiZGF0YS5jdDEwOC5uZXQiLCJndWlkIjpudWxsLCJvcmlHdWlkIjpudWxsLCJmdWxsbmFtZSI6IkQyMDE3NEQzOERFNzk0N0QyRTc3QzU0QTBFRkM0NEIxIiwiZXhwIjoyMDg3ODc4ODY0LCJ1c2VybmFtZSI6IkI2MkIxMTUzQzhFNkQ5MUY3MjA5RTU2RThENEJBNDRGIn0.at6118GorFosuq660EEeJZgiTy1VGxpEKzWhiQqVMpo_1st
